.disableclick{
  pointer-events: none;
}
body{
  background-image:url(https://cdn2.softswiss.net/n1casino/b/infin/BlackjackLow.jpg);
  background-size: auto;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
}
h1{
  text-align: center;
  color: white;
  font-size: 50px;
}

#dealer-sum{
color: red;
font-size: 35px;
}
#player-sum{
color: white;
font-size: 35px;
}
#player-status{
  color: blue;
  font-size: 25px;
}
#options{
  color: lightgreen;
font-size: 25px;
}
.dealer-container{
  display: flex;
  justify-content: space-between;
  width: 800px;  
}
.player-container{
  display: flex;
  justify-content: space-between;
  width: 800px;
}
#dealer-card1{
/* background-color: white; */
height: 125px;
width: 100px;
}
#dealer-card2{
/* background-color: white; */
height: 125px;
width: 100px;
}
#dealer-card3{
  /* background-color: white; */
height: 125px;
width: 100px;
}
#dealer-card4{
  /* background-color: white; */
height: 125px;
width: 100px;
}
#dealer-card5{
  /* background-color: white; */
height: 125px;
width: 100px;
}


#player-card1{
  /* background-color: white; */
  height: 125px;
  width: 100px;
  }
  
  #player-card2{
    /* background-color: white; */
    height: 125px;
    width: 100px;
    }
    #player-card3{
      /* background-color: white; */
    height: 125px;
    width: 100px;
    }
    #player-card4{
      /* background-color: white; */
    height: 125px;
    width: 100px;
    }
    #player-card5{
      /* background-color: white; */
    height: 125px;
    width: 100px;
    }
    